<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="restaurant in restaurants">{{ restaurant.Id }}</li>

     <li v-for="employe in employes">{{employe }}</li>
        </ul>
        <button v-on:click="update()">Mettre à jour</button>
    </div>



        <script>
        let app = new Vue({
            el: "#app",
            data: {
                restaurants: ["Resto 1", "Resto 2", "Resto 3"],
                employes : null
            },
         
            methods: {
                update(id) {
                    axios.get("http://127.0.0.1:5000/restaurants")
                    .then(res => this.restaurants = res.data)
                      .catch(error => this.restaurants = [{"name":"Erreur de chargement"}])
                     axios.get("http://127.0.0.1:5000/restaurants/"+id+"/employes")
                     .then(res => this.employes = res.data)
                      .catch(error => this.employes = [{"name":"Erreur de chargement"}])
                }
            },
        });
    </script>




</body>

</html>