<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <table class="table table-bordered">
            <caption>Restaurants</caption>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Ville</th>

                </tr>
            </thead>
            <tbody v-for="restaurant in restaurants">
                <tr>
                    <td>
                        {{ restaurant.Id }}
                    </td>
                    <td>
                        {{ restaurant.name }}
                        <table>

                            <tr v-for="employe in employes">
                                <td v-if="restaurant.Id==employe.restaurant_id">
                                    {{employe}}
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        {{ restaurant.city }}

                    </td>
                </tr>
                <button v-on:click="update(restaurant.Id)">Mettre à jour</button>
            </tbody>
        </table>
 
    </div>



    <script>

        // import axios from 'axios';
        
        let app = new Vue({

            el: "#app",
            data: {
                restaurants: ["resto 1", "resto2", "resto 3"],
                employes: ["Employe 1", "Employe 2", "Employe 3"],
                id:["id 1", "id 2"],
            },


            methods: {
                update(Id) {
                    console.log(Id);

                    axios.get("http://127.0.0.1:5000/restaurants")

                        .then(res => this.restaurants = res.data)
                        .catch(error => this.restaurants = [{ "name": "Erreur de chargement" }])
                  
                    axios.get("http://127.0.0.1:5000/restaurants/"+Id+"/employes" )

                        .then(res => this.employes = res.data.id)
                        .catch(error => this.employes = [{ "name": "Erreur de chargement" }])
                }
            },
        });
    </script>




</body>

</html>